:root {
    --height: auto;
    --widht: auto;
}
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #25282A;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
.slider_body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: var(--widht);
    overflow: hidden;
}
.slider_body img {
    object-fit: contain;
    width: var(--widht);
}