
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #25282A;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 46rem;
    overflow: hidden;
}
.slider_body {
    margin: 0 auto;
    display: flex;
    width: 400%;
}
.img {
    width: 25%;
    height: 100%;
    transition: all 0.6s ease;
}
.img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.container_content {
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7rem;
    height: 1rem;
}
input[name="radio"] {
    display: none;
}
.my_button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #71ABFE;
}
.title_h1 {
    width: 50rem;
    display: flex;
    flex-direction: row;
}

#radio1:checked ~ .s1 {
    margin-left: 0;
}
#radio2:checked ~ .s1 {
    margin-left: -25%;
}
#radio3:checked ~ .s1 {
    margin-left: -50%;
}
#radio4:checked ~ .s1 {
    margin-left: -75%;
}